<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Food API
            </h2>
            <p>
                This application is used to add new recipes for food.
            </p>
            <div class="row">
            </div>
        </div>
    </div>
</div>